<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="manageryzy.leave.mapper.LeaveMapper">
    <select id="selectAll"  resultType="manageryzy.leave.model.Leave">
        SELECT *
        FROM `leave`
    </select>

    <select id="selectByID" resultType="manageryzy.leave.model.Leave">
        SELECT *
        FROM `leave`
        WHERE id = #{id}
    </select>

    <select id="selectByUser" resultType="manageryzy.leave.model.Leave">
        SELECT *
        FROM `leave`
        WHERE uid = #{uid}
    </select>

    <select id="selectByStatus" resultType="manageryzy.leave.model.Leave">
        SELECT *
        FROM `leave`
        WHERE `status` = #{status}
    </select>

    <insert id="insertLeave">
        INSERT INTO `leave` (
            `status`,
            `uid`,
            `role`,
            `leave_aim`,
            `leave_target`,
            `leave_leave_date`,
            `leave_back_date`,
            `leave_type`,
            `leave_plan`,
            `leave_invite`,
            `leave_comment`,
            `pre_money`,
            `pre_comment`,
            `sum_acc_leave_date`,
            `sum_acc_back_date`,
            `sum_acc_money`,
            `sum_sum`,
            `sum_comment`,
            `after_money`,
            `after_comment`
        )
        VALUES (
            #{status},
            #{uid},
            #{role},
            #{leave_aim},
            #{leave_target},
            #{leave_leave_date},
            #{leave_back_date},
            #{leave_type},
            #{leave_plan},
            #{leave_invite},
            #{leave_comment},
            #{pre_money},
            #{pre_comment},
            #{sum_acc_leave_date},
            #{sum_acc_back_date},
            #{sum_acc_money},
            #{sum_sum},
            #{sum_comment},
            #{after_money},
            #{after_comment}
        )
    </insert>

    <update id="updateLeave">
        UPDATE `leave`
        SET
            `status`             = #{status},
            `uid`                = #{uid},
            `role`               = #{role},
            `leave_aim`          = #{leave_aim},
            `leave_target`       = #{leave_target},
            `leave_leave_date`   = #{leave_leave_date},
            `leave_back_date`    = #{leave_back_date},
            `leave_type`         = #{leave_type},
            `leave_plan`         = #{leave_plan},
            `leave_invite`       = #{leave_invite},
            `leave_comment`      = #{leave_comment},
            `pre_money`          = #{pre_money},
            `pre_comment`        = #{pre_comment},
            `sum_acc_leave_date` = #{sum_acc_leave_date},
            `sum_acc_back_date`  = #{sum_acc_back_date},
            `sum_acc_money`      = #{sum_acc_money},
            `sum_sum`            = #{sum_sum},
            `sum_comment`        = #{sum_comment},
            `after_money`        = #{after_money},
            `after_comment`      = #{after_comment}
        WHERE `id` = #{id};
    </update>

</mapper>