#login-panel {
  display: none;
}

.screen-container {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}

body, html, .full-height {
  user-select: none;
  height: 100%;
}

body {
  background: url("bg.jpg") fixed no-repeat ;
  background-size: cover;
  font-family: "Arial","Microsoft YaHei","黑体","宋体";
}

.full-height {
  position: relative;
}

.full-width {
  width: 100%;
}

.card-panel {
  position: relative;
}

.hover {
  height: 100%;
  width: 100%;
  background: rgba(222, 222, 222, .5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.scroll {
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

#nav {
  //background-color: #fff;
  background-color: #e1bee7;
  overflow-y: visible;
  left: -100%;
  button {
    display: block;
    width: 100%;
    height: 6rem;
  }
}

#manage-page, #page-welcome, #page-simulate, #page-check, #page-select {
  display: none;
}

#mapCanvas {
  max-width: 100%;
}

.row .btn-long {
  padding-top: 0.75rem;
}

